@model List<Department>

<div id="departments" class="content-section">
    <h1>Departments Overview</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Department Name</th>
            <th>Medical Staff</th>
            <th>Patients</th>
            <th>Details</th>
        </tr>

        </thead>
        <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Id</td>
                <td>@department.DepartmentName</td>
                <td>
                    <a asp-controller="Department" asp-action="ViewMedicalStaff" asp-route-id="@department.Id">View Medical Staff</a>
                </td>
                <td>
                    <a asp-controller="Department" asp-action="ViewPatients" asp-route-id="@department.Id">View Patients</a>
                </td>
                <td>
                    <a asp-controller="Department" asp-action="ViewDetails" asp-route-id="@department.Id">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>